:root {
  --main-br-color: #dedede;
}

.App {
  min-width: 400px;
  max-width: 900px;
  margin: 40px auto;
}

.list {
  list-style-type: none;
  border: solid 1px var(--main-br-color);;
  padding: 0;
  width: 30%;
  user-select: none;
  margin: 0;
}

.list-item {
  border-bottom: solid 1px var(--main-br-color);;
  padding: 10px;
  cursor: pointer;
}

.list-item:last-child {
  border-bottom: 0;
}

.details-list {
  display: flex;
  align-items: flex-start;
}

.details {
  margin-left: 40px;
  width: 40%;
}

.details-item {
  border: solid 1px var(--main-br-color);
}

.itemContent {
  border-bottom: solid 1px var(--main-br-color);
  padding: 10px;
}

.itemContent:last-child {
  border-bottom: 0;
}

.itemContent:nth-child(2) {
  padding-bottom: 30px;
}

img {
  width: 100%;
  border-bottom: solid 1px var(--main-br-color);;
}

.selected {
  background-color: #0f7ffa;
  color: white;
}